<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

  <ion-content color="primary" [fullscreen]="true" class= 'ion-text-center'>
    <ion-grid class ="ion-margin">
        <img src="assets/PQ.png" alt="ionic logo">
        <ion-row>
          <ion-col>
            <h1>Login</h1>
            <ion-input placeholder="User Name"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder ="Password"></ion-input>
          </ion-col>
        </ion-row>
    </ion-grid>

    
    
    <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
  </ion-content>